.background_error {
    background-image: url("./../../assets/img/spaghetti-with-tomatopan.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.error404 {
    height: auto;
    width: auto;
    padding-bottom: 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_error {
    font-family: "MonteCarlo", cursive;
    font-size: 40px;
    color: rgb(255, 255, 255)
}