.admin {
    height: 100vh;
    padding: auto;
    margin: auto;
}

.selected{
    background-color: var(--green-pantone);
}

.products{
    cursor: pointer;
}

.boton{
    background-color: var(--green-pantone);
}

.card-m{
    width: 10rem !important;
}