.footer_container {
    background-color: #E13D3D !important;
    margin-top: 90vh; 
    bottom: 0px;
    display:inline-flexbox;
    
}

.footer_title {
    font-size: 1.5rem;
}

.footer_icons {
    font-size: 1.5rem;
}